.GalleryComponent .h1-heading {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  color: rgb(6, 68, 46);
  margin-top: 120px;
  margin-bottom: 60px;
  }
  
.GalleryComponent.slider-image {
    width: 100%;
    height: auto;
    
   
  }
.GalleryComponent .img-fluid {
    border-radius: 0px;
    height:350px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    
  }
  /* Style for dots */
.slick-dots {
    text-align: center;
    margin-top: 20px;
    margin-top: 20px;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  .slick-dots li button {
    line-height: 1;
    border: none;
    background-color: transparent;
    width: 10px; 
    height: 10px; 
    cursor: pointer;
    outline: none;
    border-radius: 50%;
  }
  

  .slick-dots li.slick-active button {
    background-color: #323131;
    width: 15px; 
    height: 15px; 
  }
  
  .GalleryComponent{
    height: 100vh;
    overflow: hidden;
  }