.SchoolComponent {
  height: 530px;
}

.SchoolComponent .rounded {
  border: #3bd58d solid 2px;
  height: 340px;
}

.SchoolComponent .h1-heading {
  text-align: center;
  font-size: 40px;
  color: rgb(6, 68, 46);
  font-weight: bolder;
  margin-top: 120px;
  margin-bottom: 100px;
}

.SchoolComponent img {
  margin-top: -80px;
  width: 100px;
  height: 100px;
}

.SchoolComponent .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.SchoolComponent .popup-content {
  position: relative;
  width: 90%;
  height: 50%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.SchoolComponent .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.SchoolComponent .popup-header h1 {
  font-size: 40px;
  color: rgb(6, 68, 46);
  font-weight: bold;
  margin: 0;
}

.SchoolComponent .popup-header h1:last-child {
  cursor: pointer;
}

.SchoolComponent .closeButton {
  width: 30px;
  height: 30px;
  background-color: rgb(90, 10, 10);
  border: none;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 0;
}

.col-sm-4 {
  width: 33.33%;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.col-sm-4:hover {
  background-color: rgb(191, 238, 198);
}

@media (max-width: 760px) {
  .SchoolComponent .col-sm-4 {
    margin-top: 50px;
    width: 100%;
  }
  .SchoolComponent {
    height: auto;
  }
}

@media (max-width: 576px) {
  .SchoolComponent {
    height: auto;
  }

  .SchoolComponent .rounded {
    margin-top: 50px;
  }

  .SchoolComponent .col-sm-4 {
    width: 100%;
  }

  .SchoolComponent .rounded {
    height: auto;
  }
}
