.footer {
  background-color: #03411b;
  padding: 1px 0;
}

.main-footer {
  padding-bottom: 1px;
  color: #f8f7f7;
}

.main-footer .widget-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 2px;
}

.main-footer .textwidget {
  line-height: 1.5;
  font-size: 12px;
}
.menu-item a{
  color: #68b3ce;
  padding: 5px ;

}
.menu-item a:hover{
  color: #a4ce68;
}
.logo-link-small img {
    max-height: 100%;
    max-width: 100%;
    width: 100px;
    height: 100px;
  
  }
  .logo {
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
  
  }
  

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.links a {
  color: #555;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
}

.links a:hover {
  color: #93ba3a;
}
.light{
  color: #bec578;
}
.pages {
  display: flex;
}

.useful-links {
  display: flex;
}

.social-media {
  display: flex;
}

.social-media a {
  color: #555;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #888;
}

.school-logo {
  text-align: center;
  margin-top: 20px;
}

.school-logo img {
  width: 150px;
}

.bottom-footer {
  background-color: #0b0b0b;
  padding: 1px 0;
  color: #777;
 
}

.bottom-footer p {
  margin-bottom: 0;

}

.working-hours {
  margin-top: 5px;
}

.working-hours table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

.working-hours th,
.working-hours td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.working-hours .today {
  font-weight: bold;
  color: #555;
}

.working-hours .label {
  background-color: #888;
  color: #fff;
  padding: 4px 8px;
  font-size: 8px;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .links,
  .pages,
  .useful-links,
  .social-media {
    flex-wrap: wrap;
  }

  .links a,
  .pages a,
  .useful-links a {
    margin-bottom: 10px;
  }
}
